/*header style*/
header {
    height: 70px;
    width: 100%;
    background-color: #FFFFFF;
    background-image: url("../images/HBTN_logo.png");
    background-position: left-top;
    background-repeat: no-repeat;
    border-bottom: 1px solid #CCCCCC;
}
